.def-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px;
  text-align: left;
  background-color: white;
}

@media screen and (max-width: 1024px) {
  .def-header {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }
}

.def-header-logo {
  grid-column: 1;
}

.def-header-nav {
  grid-column: 2;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 1024px) {
  .def-header-nav {
    display: none;
  }
}

.def-header-profile {
  grid-column: 3;
  margin: auto 0 auto auto;
}

.def-header-link {
  justify-content: space-around;
  text-decoration: none;
  padding: 0 20px;
  color: black;
  margin: auto;
}
